/* SETTINGS */
:root {
  --primary-navy-blue: #2e2f42;
  --iris-color: #4d5ae5;
  --logo-dark-color: #2e2f42;
  --ocean-active: #404bbf;
  --primary-slate: #434455;
  --primary-white-color: #ffffff;
  --logo-light-color: #f4f4fd;
  --primary-cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
  --light-slate: #8e8f99;
  --success-color: #31d0aa;

  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--primary-slate);
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-navy-blue);
}
.address-style {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* LOGO */
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--iris-color);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-dark {
  color: var(--logo-dark-color);
  font-family: "Raleway", sans-serif;
}
.logo-light {
  color: var(--logo-light-color);
  font-family: "Raleway", sans-serif;
}
/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and (max-width: 767px) {
  .header {
    padding: 24px 0;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header-container {
    justify-content: flex-start;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header-nav {
    gap: 120px;
    margin-right: auto;
  }
}
.nav-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}
.active {
  color: var(--ocean-active);
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;

  background-color: var(--ocean-active);
  border-radius: 2px;
  height: 4px;
}
.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: block;
  padding: 24px 0;

  transition: color var(--primary-transition);
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--ocean-active);
}
.header-address {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-address {
    display: inline;
    margin: auto 0;
  }
}
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .header-address-list {
    display: inline;
  }
}
.address-link {
  color: var(--primary-slate);
  transition: color var(--primary-transition);
}
.address-link:hover,
.address-link:focus,
.address-link:active {
  color: var(--ocean-active);
}
/* HEADER MENU */
@media only screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.menu-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 22px;
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.burger-icon {
  stroke: var(--primary-navy-blue);
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--primary-white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container.is-open {
  transform: translateX(0);
}

.x-close {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  background-color: var(--cornflower-color);
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
  border: 1px solid var(--light-slate);

  transition: background-color var(--primary-transition),
    border var(--primary-transition);
}
.x-close:focus,
.x-close:active {
  background-color: var(--ocean-active);
  border: 1px solid var(--ocean-active);
}
.x-close-icon {
  transition: fill var(--primary-transition);
}
.x-close:focus .x-close-icon,
.x-close:active .x-close-icon {
  fill: var(--primary-white-color);
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: fit-content;
}
.mobile-menu-element:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  display: block;
  color: var(--primary-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  transition: color var(--primary-transition);
}
.mob-menu-link:focus {
  color: var(--ocean-active);
}
.mob-address-element:not(:last-child) {
  margin-bottom: 40px;
}
.mob-address-element:focus {
  color: var(--iris-color);
}
.mob-tel {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  transition: color var(--primary-transition);
}
.mob-tel:focus,
.mob-mail:focus {
  color: var(--iris-color);
}
.mob-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  transition: color var(--primary-transition);
}
.mob-media {
  display: flex;
  justify-content: center;
  gap: 56px;
}
.mob-element {
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.mob-link {
  width: 24px;
  height: 24px;
}
/* HERO SECTION */
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-page/hero-section/bg-mob@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 112px 0;
  max-width: 428px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero-section/bg-mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero-section/bg-tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page/hero-section/bg-tab@2x.jpg);
    }
  }
}
@media only screen and (min-width: 1440px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero-section/bg-desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page/hero-section/bg-desk@2x.jpg);
    }
  }
}
.hero-container {
}
.hero-header {
  color: var(--primary-white-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  text-align: center;
  margin: 0 auto;

  margin-bottom: 72px;
  max-width: 320px;
}
@media only screen and (min-width: 768px) {
  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-transform: none;

    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-header {
    line-height: 1.07;
    letter-spacing: 0.02em;

    margin-bottom: 48px;
  }
}
.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;

  padding: 16px 32px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--iris-color);
  cursor: pointer;

  transition: background-color var(--primary-transition);
}
.hero-btn:focus,
.hero-btn:active,
.hero-btn:hover {
  background-color: var(--ocean-active);
}
/* OPTIONS */
.options-section {
  padding: 96px 0;
}
.options-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .options-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .options-list {
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }
}
.options-list-element {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .options-list-element {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1440px) {
  .options-list-element {
    width: calc((100%- 24 * 3) / 4);
  }
}
.option-icon-container {
  display: none;
}
@media only screen and (min-width: 1440px) {
  .option-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;

    padding: 24px 100px;
    background-color: var(--primary-cloud-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
.option-icon {
}
.options-headers {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;

  color: var(--primary-navy-blue);
  margin-bottom: 8px;
}
@media only screen and (min-width: 1440px) {
  .options-headers {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
.options-caption {
  color: var(--primary-slate);
  font-weight: 500;
}
@media only screen and (min-width: 1440px) {
  .options-caption {
    font-weight: 400;
  }
}
/* HEADERS */
.work-header,
.team-section-header {
  color: var(--primary-navy-blue);
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.02em;
}
/* OUR WORK */
.our-work-section {
  display: none;
}
@media only screen and (min-width: 1440px) {
  .our-work-section {
    display: block;
    padding-bottom: 120px;
  }
}
.work-header {
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.work-list-element {
}
/* OUR TEAM SECCTION */
.team-section {
  background-color: var(--primary-cloud-color);
  padding: 96px 0;
  /* padding: 120px 0; */
}
.team-section-header {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .team-list {
    flex-direction: row;
    gap: 24px;
  }
}
.team-list-element {
  background-color: var(--primary-white-color);

  background: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-width: 768px) {
  .team-list-element {
    width: calc((100%- 24px) / 2);
  }
}
@media only screen and (min-width: 1440px) {
  .team-list-element {
    margin-bottom: 0;
  }
}
.team-img-caption {
  padding: 32px 0;
}
.team-header-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);

  margin-bottom: 8px;
  text-align: center;
}
.team-caption {
  color: var(--primary-slate);
  text-align: center;
  margin-bottom: 8px;
}
.team-icon-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-element {
  cursor: pointer;
}
.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--primary-transition);

  width: 40px;
  height: 40px;

  background-color: var(--iris-color);
  border-radius: 50%;
}
.team-icon:hover,
.team-icon:focus {
  background-color: var(--ocean-active);
}
.social-media-icon {
  fill: #f4f4fd;
}
/* OUR CUSTOMERS */
.customers-section {
  padding: 96px 0;
}
@media only screen and (min-width: 1440px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers-header {
  color: var(--primary-navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;

  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .customers-list {
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.customers-icons {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
@media only screen and (min-width: 768px) {
  .customers-icons {
    width: calc((100% - 24px * 2) / 3);
  }
}
@media only screen and (min-width: 1440px) {
  .customers-icons {
    width: calc((100% - 24px * 5) / 6);
  }
}
.customers-link {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  color: var(--light-slate);
  padding: 16px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color var(--primary-transition),
    color var(--primary-transition);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--ocean-active);
  border-color: var(--ocean-active);
}
.icon-logo {
  fill: currentColor;

  cursor: pointer;

  transition: fill var(--primary-transition);
}
.customers-link:hover .icon-logo {
  fill: var(--ocean-active);
}
/* FOOTER SECTION */
.footer-section {
  background-color: var(--primary-navy-blue);
  padding: 96px 0;
}
@media only screen and (min-width: 1440px) {
  .footer-section {
    padding: 100px 0;
  }
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    gap: 72px 24px;
    max-width: 554px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
    max-width: 1158px;
  }
}
.footer-container-caption {
  width: 268px;
  margin-bottom: 72px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .footer-container-caption {
    width: 264px;
    margin: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-container-caption {
    width: 264px;
    margin-bottom: 0;
    margin-right: 120px;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;
  }
}
.footer-caption {
  color: var(--primary-cloud-color);
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .footer-caption {
    margin: 0;
  }
}
.social-media-container {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .social-media-container {
    margin-bottom: 0;
    width: 208px;
  }
}
@media only screen and (min-width: 1440px) {
  .social-media-container {
    margin-right: 80px;
    margin-bottom: 0;
  }
}
.footer-titles {
  font-size: 16px;
  color: var(--primary-white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-titles {
    text-align: left;
  }
}
.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-media-element {
  width: 40px;
  height: 40px;
}
.social-media {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris-color);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--primary-transition);
}
.social-media:hover,
.social-media:focus {
  background-color: var(--success-color);
}
@media only screen and (min-width: 768px) {
  .surbscribe-container {
    width: 453px;
  }
}
.footer-form {
  display: block;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    gap: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-form {
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
.surbscribe-label {
  position: relative;
}
.footer-input {
  background-color: transparent;
  border: 1px solid var(--primary-white-color);
  border-radius: 4px;
  color: var(--primary-white-color);

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  width: 100%;
  height: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}
.footer-input::placeholder {
  color: var(--primary-white-color);
  font-family: "Roboto";
}
.footer-surbscribe-btn {
  margin: 16px auto 0 auto;

  background-color: var(--iris-color);
  border-radius: 4px;
  border: none;
  color: var(--primary-white-color);

  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  transition: background-color var(--primary-transition);
}
@media only screen and (min-width: 768px) {
  .footer-surbscribe-btn {
    margin: 0;
  }
}
.footer-surbscribe-btn:hover,
.footer-surbscribe-btn:focus,
.footer-surbscribe-btn:active {
  background-color: var(--ocean-active);
}
.surbscribe-icon {
  margin-left: 16px;
}
/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--primary-transition),
    visibility var(--primary-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  width: 392px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--primary-transition);

  position: absolute;
  top: 50%;
  left: 50%;

  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  transform: translateX(-50%) translateY(-50%);
}
@media only screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
  }
}
.modal-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower-color);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;

  transition: background-color var(--primary-transition),
    border var(--primary-transition);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean-active);
  border: none;
}
.modal-icon {
  fill: var(--primary-navy-blue);

  transition: fill var(--primary-transition);
}
.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: var(--primary-white-color);
}
.modal-title {
  text-align: center;
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-navy-blue);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-label {
  margin-bottom: 8px;
}
.modal-form-label:nth-child(4) {
  margin-bottom: 16px;
}
.form-caption {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-wrapper {
  position: relative;
}
.user-input {
  display: block;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  padding-left: 38px;
  font-size: 18px;

  margin-top: 4px;

  transition: border-color var(--primary-transition);
}
.user-input:focus {
  border-color: var(--iris-color);
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--primary-navy-blue);

  transition: fill var(--primary-transition);
}
.user-input:focus + .form-icon {
  fill: var(--iris-color);
}
.form-label-comment {
  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  padding: 8px 16px;
  margin-top: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition: border-color var(--primary-transition);
}
.form-label-comment::placeholder {
  font-family: "Roboto";
}
.form-label-comment:focus {
  border-color: var(--iris-color);
}
.policy-label {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}
.modal-form-caption {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  transition: background-color var(--primary-transition),
    border var(--primary-transition), fill var(--primary-transition);
}
.modal-form-checkbox:checked + .modal-form-caption > .modal-form-span {
  background-color: var(--ocean-active);
  border: none;
  fill: var(--primary-cloud-color);
}
.modal-form-checkbox-icon {
  opacity: 0;
  fill: var(--primary-cloud-color);

  transition: opacity var(--primary-transition);
}
.modal-form-checkbox:checked
  + .modal-form-caption
  > .modal-form-span
  > .modal-form-checkbox-icon {
  opacity: 1;
}
.modal-form-link {
  color: var(--iris-color);
}
.form-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;

  background-color: var(--iris-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color var(--primary-transition);
}
.form-btn:hover,
.form-btn:focus,
.form-btn:active {
  background-color: var(--ocean-active);
}
/* PORTFOLIO */
/* PANEL */
.panel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .panel-list {
    margin-bottom: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}
.panel-btn {
  color: var(--iris-color);
  background-color: var(--primary-cloud-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  border: 1px solid var(--cornflower-color);
  padding: 12px 24px;

  border-radius: 4px;

  transition: color var(--primary-transition),
    background-color var(--primary-transition),
    border-color var(--primary-transition), box-shadow var(--primary-transition);
}
.panel-btn:active,
.panel-btn:hover,
.panel-btn:focus {
  border: 1px solid transparent;
  color: var(--primary-white-color);
  background-color: var(--ocean-active);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* SERVICE */
.services-section {
  padding: 96px 0 120px 0;
}
.service-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.service-list-element {
  width: 100%;
  background-color: var(--primary-white-color);
  overflow: hidden;

  transition: box-shadow var(--primary-transition);
}
@media only screen and (min-width: 768px) {
  .service-list-element {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1440px) {
  .service-list-element {
    width: calc((100% - 48px) / 3);
  }
}
.service-list-element:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.service-link {
  display: block;
  transition: box-shadow var(--primary-transition);
}
.service-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.service-link:focus {
  border: 1px solid #333;
}
.service-container {
  position: relative;
}
.container-for-overlay {
  position: relative;
  overflow: hidden;
}
.service-img-caption {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;

  transition: border var(--primary-transition);
}
.service-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.service-caption {
  line-height: 1.5;
  color: var(--primary-slate);
}
/* OVERLAY TEXT */
.overlay {
}
.service-link:hover .overlay-paragraph {
  transform: translateY(0);
}
.overlay-paragraph {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  transform: translateY(100%);
  transition: transform var(--primary-transition);

  background-color: var(--iris-color);
  padding: 40px 32px 0;

  color: var(--primary-cloud-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
}
